/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main {
  background-image: radial-gradient(ellipse at top, #222 0%, #222 70%, transparent 70%);
  color: #fff;
  padding: 2rem;
  width: 1250px;
  text-align: center;
  height: calc(100vh / 2);
}

.main h2 {
  margin-bottom: 1rem;
} */


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
  
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(ellipse at top, #222 0%, #222 70%, transparent 70%);
  width: 1260px;
  text-align: center;
  /* height: calc(100vh / 2); */
  height: 400px;
}

header {
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.ada{
  position: relative;
  width:35px;
  height: 35px;
  border-radius: 20px;
  margin-left: 20px;
}
h1{
  
  margin-left: 60px;
  position: absolute;
  top: 4px;
  margin-bottom: 0px;
}



nav ul {
  display: flex;
  list-style: none;
  margin-top:20px;
  margin-bottom: 0px;
 

  
}

nav li {
  margin-right: 50px;

}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav button {
  position: absolute;
  background-color: #f77f29;
  color: #fff;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 3px;

  margin-right: 20px;
}
nav button:hover{
  background-color: green;
  opacity: 10s;
  box-shadow: black 2cap;
}
nav img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-left: 130px;
}
nav p{
  position: absolute;
  top: 30px;
  margin-left: 120px;
}

nav p{
  color: blue;
}


.container {
  max-width: 1024px;
 
  padding: 2rem;
  /* margin: auto; */
  margin-left: 150px;
}
.container h2{
  color: #f7f7f7;
}

.main {
  /* background-color: #fff;
  padding: 2rem;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
  /* position: relative;
  display: flex;*/
  /* flex-direction: column; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* align-items: center; */
  /* width: 100%; */
  height: fit-content;
  padding: 20px;
  overflow: hidden;
  /* width: 800px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  
}

.leaderboard {
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  background-color: #fff;
  /* padding: 1rem; */
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  flex: 2rem;
  width: 2500px;
  height: fit-content;
  padding: 10px;
}

.right-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  overflow: hidden;
 
}
.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}
.leaderboard li:hover{
  background-color: rgb(179, 212, 238);
  cursor: pointer;
  border-radius: 10px;
}
.rank {
  font-size: 1rem;
  width: 50px;
  text-align: center;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: left;
}

.user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  text-align: left;
  justify-content: center;
}

.score {
  color: #777;
  padding-left: 300px;
  

}
.mercury-league{
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  height: 100px;
  width: 350px;
}
.a1{
  position: relative;
  color: rgb(20, 2, 2);
  font-weight:bold;
  font-size: medium;
 text-align: left;
 padding-top: 10px;
  
}
.a2{
  color:gray;
text-align: right;
  position: relative;
  top: -18px;
  font-weight:medium;
  font-size: small;
  padding-top: 5px;
}
.lock{
  width: 50px;
  height: 30px;
  padding-right: 6px;
  border-radius: 6px;
  cursor: pointer;

  
}
.lock:hover { transform: scale(1.2); }

.earn-xp{
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 370px;
  width: 350px;
}
.earn-xp h2{
  color: #222;
  text-align: left;
  margin-left: 3px;
  margin-top: 1px;
  font-size: 20px;
}


.box{

  background-color: rgb(223, 221, 221);
  width: 330px;
  height: 60px;
  border-radius: 10px;
 padding-top: 8px;
  text-align: left;
  padding-left: 10px;
  font-size: medium;

  
}
  p{
    position: relative;
    top: -35px;
    font-size: small;
    text-align: left;
    padding-left: 10px;
  
    color: grey;
    
  }
.comp{
 display: flex;
 width: 40px;
 height: 30px;
 padding-left: 270px;
}